<div class="row">
  <div class="col-4">

    <div style="background-color:rgb(203, 176, 228); position:fixed; height: 100%; width:150px;">

      <nav class="navbar">
        <ul class="navbar-nav">
          <p></p>
          <li class="nav-item">
            <p class="nav-link" (click)="login()">Login</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" (click)="example()">Example</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" (click)="products()">Products</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" (click)="addProducts()">Add Product</p>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>