<div class="row" style="margin-left:20px; margin-right:20px;">

    <div class="card" style="width:300px; height:500px;">
      <h4 style="text-align: center">{{code}}</h4>
      <div class="card-body">
        <img src={{image}} style="height:180px; width:150px; padding:5px "><br><br>
        <b>Color: </b>{{color}}<br>
        <b>Description: </b>{{desc}}<br>
        <b>Price: </b>{{price}}<br><br>
        <div class="card-footer">
          <button class="btn" style="background-color: chocolate;">ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>



